.acticles {
  margin-top: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;

  .acticles_list {
    will-change: auto !important;
  }

  .article {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .link {
      text-decoration: none;
      font-size: 18px;
      color: black;
    }

    svg {
      cursor: pointer;
      margin-right: 20px;
      height: 22px;
      width: 22px;
    }
    .like_svg.active {
      path {
        fill: red;
      }
    }
  }

  .loader {
    margin-top: 20px;
  }
}
